
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo" >
                <a target="_blank" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-map"></i>
                    </div>
                    <span class="b-title">NextGen SkipTrace</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li
                        class="nav-item {% if 'skipTrace' in segment %} active {% endif %}">
                        <a href="/skipTrace.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map-pin"></i></span><span class="pcoded-mtext">Skip Trace</span></a>
                    </li>
                    <li
                        class="nav-item {% if 'profile' in segment %} active {% endif %}">
                        <a href="/profile.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Profile</span></a>
                    </li>
                </ul>
                <ul class="nav pcoded-inner-navbar" style="position: relative; top: 517px;">
                    <li 
                        class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link" ><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
