{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Profile Editor</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/profile.html">Profile Page</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Profile Editor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form href="/editProfile" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="string" class="form-control task" name="fname" id="firstName" data-checker="normie" value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="string" class="form-control task" name="lname" id="lastName" data-checker="normie" value="{{ user.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="string" class="form-control task" name="mail" id="email" data-checker="email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="string" class="form-control task" name="address" id="address" data-checker="normie" value="{{ user.profile.address }}">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="string" class="form-control task" name="city" id="city" data-checker="normie" value="{{ user.profile.city }}">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="string" class="form-control task" name="state" id="state" data-checker="normie" value="{{ user.profile.state }}">
                    </div>
                    <div class="form-group">
                        <label for="zipcode">Zip-Code</label>
                        <input type="string" class="form-control task" name="zcode" id="zipcode" data-checker="numeric" value="{{ user.profile.zip_code }}">
                    </div>
                    <div class="form-group">
                        <label for="phoneNo">Phone number</label>
                        <input type="string" class="form-control task" name="pNo" id="phoneNo" data-checker="pnumber" value="{{ user.profile.phone }}">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="confirmSanity" onclick="check()">
                        <label class="form-check-label" for="confirmSanity">Confirm to proceed</label>
                    </div>
                    <div id="errorDiv">

                    </div>
                    <br><br>
                    <input type="submit" id ="submitBtn" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
