{% extends "layouts/base.html" %}

{% block title %}{% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card-body">
    <button type="button" onclick="document.location='/'" class="btn btn-secondary">Available traces <span class="badge badge-dark" style="position:relative; left:10px">32</span></button>
</div>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Skip Trace</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Skip Trace</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Single Skip Trace</a></h5>
                    </div>
                    <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <form>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="string" class="form-control" id="singleSearchLocationInput" placeholder="Enter the location">
                                <small class="form-text text-muted">Type in a property address you are looking to skip trace.<br>We will send you the name of the homeowner to your registered e-mail address</small>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="confirmSanity">
                                <label class="form-check-label" for="confirmSanity">Confirm to proceed</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Batch Skip Trace</a></h5>
                        </div>
                        <div id="collapseTwo" class="collapse card-body">
                            <form>
                                <div class="form-group">
                                    <label for="location">Data File</label>
                                    <input type="file" class="form-control" id="batchSearchLocationInput">
                                    <small class="form-text text-muted">Submit a CSV file with the names and addresses for the trace, the number of queries should be within your availables traces.<br>The results will be mailed to you on your registered e-mail address</small>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="confirmSanity">
                                    <label class="form-check-label" for="confirmSanity">Confirm to proceed</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
